html, body {
    margin:0;
    padding:0;
    width:100%
}

#root {
    width:100%
}

#navbarDropdownMenuLink {
    opacity: 0;
    
}

#TopBar {
    height: 10vh;

}

.CenterPiece{
    text-align: center;
    font-family:Hikou Regular;
    padding:10px;

}
#priceBar {
    text-align: center;
    background-color:aqua;
    padding-top: 7px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

#EthPrice {
    margin-left: 100px;
}

#container {
    background-color: rgb(197, 140, 102);
    padding:0%;
    height: 85vh;
    width: 100%;
}

#actualWallet {
    height:100vh;
    background-color: grey;
}

#dreamWallet {
    height: 100vh;
    background-color: black;
}

#About {
    background-color: rgb(187, 99, 99);
    height: 65vh;
}