html, body {
    margin:0;
    padding:0;
    width:100%
}

#root {
    width:100%
}

#navbarDropdownMenuLink {
    opacity: 0;
    
}

#TopBar {
    height: 10vh;

}

#priceBar {
    text-align: center;
    background-color:#DF5D5D;;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}


#EthPrice {
    margin-left: 100px;
}

.Cryptonaire{
    text-align: center;
    font-family:Hikou Regular;
    padding-top:8px;
    color: white;

}

.dreamBig{
    text-align: center;
    font-family:Hikou Regular;
    color: rgb(223, 93, 93);

}



#container {
    background-color: #000000;
    height: 85vh;
    width: 100%;
}

.leftTitle {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 20px;
    text-align: left;
    background-color: #ff8177;
    background:#DF5D5D;
    max-width: fit-content;
    height: 30vh;
    justify-content: auto;
    
}

#actualWallet {
    height:100vh;
    background-color: #150050;
}

#dreamWallet {
    height: 100vh;
    background-color: #9372ad;
}

#About {
    background-color: #1e1f17;
    height: 65vh;
}