html, body {
    margin:0;
    padding:0;
    width:100%;
    
}

#root {
    width:100%
}

#navbarDropdownMenuLink {
    opacity: 0;
    
}

#TopBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  font-size: 1.4em;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  height: 6.2%;
  margin: auto;
  top: 0;
}

#brandName {
    font-size: 1.5em;
}

#priceBar {
    text-align: center;
    margin-top: 3%;
    background-color:#DF5D5D;;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    opacity: 0.9;
    min-width: 100%;
    position: fixed;
    z-index: 1;
}


#EthPrice {
    margin-left: 100px;
}

.Cryptonaire{
    text-align: center;
    font-family:Hikou Regular;
    padding-top:140px;
    color: white;
    font-size: 5em; 
}

.dreamBig{
    text-align: center;
    font-family:Hikou Regular;
    color: rgb(223, 93, 93);

}



#container {
  background-color: #2B4162;
  background-image: linear-gradient(315deg, #2B4162 0%, #12100E 78%);
    height: 100vh;
    width: 100%;
}

.leftTitle {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 20px;
    text-align: left;
    background-color: #ff8177;
    background:#DF5D5D;
    max-width: fit-content;
    height: 30vh;
    justify-content: auto;
    
}

#actualInfo {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

#actualWallet {
    height:100vh;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    color: white;
}

#walletHeading {
    margin-left: 10px;
    padding-top: 6%;
    text-align: center;
    font-size: 3em;
}
#liveCryptoHoldings {
    text-align: center;
    padding-top: 0px;
}

#actualWalletLabel {
    padding-left: 90px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    text-align: left;
}
#globePic {
    opacity: 30%;
    margin: -200%
}

#inputs{
  border: 1px solid #DF5D5D ;
  margin-top: 2.5%;
  width: 33%;
  height: 30%;
  border-radius: 10px;
  margin-left: 30px;
  opacity: .9;
  background-color: #1e1f17;
  transition: box-shadow .2s
}

#inputs:hover {
  box-shadow: 10px 10px 10px lightblue;
}

#userWalletInput {
    margin-left: 90px;
    margin-top: 5%;
    margin-bottom: 10px;
    padding: 15px;
    width: 50%;
    display: flex;
    border: 5px solid #DF5D5D;
    background: none;
    border-radius: 10px;
    color:white;
    font-size: 1.5em;
}

#actualHeading {
  text-align: right;
  float: right;
  margin-right: 5%;
}

#amountHeading {
  float: left;
  margin-left: 5%;
}

.dollarValueChart {
    text-align: center;
    border: 1px solid #DF5D5D;
    width: 33%;
    height: 30%;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    opacity: .9;
    background-color: #1e1f17;
    transition: box-shadow .2s
}

.dollarValueChart:hover {
  box-shadow: -10px 10px 15px  lightblue;
}

#walletText {
  font-size: 1.5em;
  margin-right: -90px;

}


#actualDollarValueChart {
    float: right;
    margin-top: -13.6%;
}

#deletebttn {
    margin: 0.5%;
}

#dreamWallet {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}

#DreamWalletHeading {
    margin-left: 10px;
    padding-top: 6%;
    text-align: center;
    font-size: 3em;
    color: white;
}

#DreamWalletHeading1 {
  text-align: center;
  font-size: 1.75em;
  color: #DF5D5D;
  font-weight: bold;
}

#dreamForms {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

#dreamInputs {
  border: 1px solid #DF5D5D ;
  width: 43%;
  border-radius: 10px;
  padding: 50px;
  opacity: .9;
  background-color: #282d32;
  color: white;
  opacity: .9;
  background-color: #1e1f17;
  transition: box-shadow .2s;
  display: flex;
  justify-content: space-evenly;
}

#dreamInputs:hover {
  box-shadow: 10px 10px 10px lightblue;
}


#dreamDollarValueChart {
  border: 1px solid #DF5D5D ;
  text-align: center;
    width: 33%;
    height: 30%;
    padding: 10px;
    border-radius: 10px;
    color: white;
  opacity: .9;
  background-color: #1e1f17;
  transition: box-shadow .2s;
}

#dreamDollarValueChart:hover  {
  box-shadow: -10px 10px 15px  lightblue;
}

#userWalletInput1 {
  display: flex;
  border: 5px solid #DF5D5D;
  background: none;
  border-radius: 10px;
  color:white;
  font-size: 1.2em;
  height: 25%;
}

#userWalletInput2 {
  border: 1px solid #DF5D5D;
  background: none;
  border-radius: 10px;
  color:white;
  font-size: 1.2em;
  height: 25%;
}

#createAlternatives{
  text-align: center;
  padding: 5px;
}

#cardTotal {
  background-color: #282d32;
  padding: 1%;
  color: white;
  max-width: fit-content;
}






#footer {
    background-color: #1e1f17;
    margin-bottom: 0px;
    color:white;
}

.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
    font-size: 20px;

  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:24px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
    font-size: 13px;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  /* .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  } */

  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

  #founders {
    font-size: 3em;
  }

#bottomPic {
  width: 100%;
  height: 80%;
  opacity: .3;
  justify-content: center;
  margin-top: -25%
}

#CryptoCard {
  background-color: gray;
  color: #0ca3e9;
  margin: 5%;
  border: 1px solid #DF5D5D;
  flex-wrap: nowrap;
  display: inline-block;
  transition: background-color .2s;
  min-width: 15%;
}

#CryptoCard:hover {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

#CryptoCard.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  }

#About {
  padding: 18%
}
#problemChildDiv{
  height: 700px;
}